<% provide(:settings, 'active') %>
<%= simple_form_for ([@seat, @schedule]), :html => { :class => 'form-horizontal' } do |f| %>

<input type="hidden" name="schedule[date]" value="<%=@dateSchedule%>" />
<%= f.input :start_time, :label => 'Hora Empieza', :wrapper => :prepend, :as => :string do %>
<span class="add-on"><i class="icon-time"></i></span><%= f.input_field :start_time, style: 'max-width: 185px; cursor:pointer;', :as => :string %>
<% end %>

<%= f.input :end_time, :label => 'Hora Termina', :wrapper => :prepend, :as => :string do %>
<span class="add-on"><i class="icon-time"></i></span><%= f.input_field :end_time, style: 'max-width: 185px; cursor:pointer;', :as => :string %>
<% end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :value => 'Guardar' %>
  </div>
<% end %>
