
<%= simple_form_for @conf_schedule, remote: true, :url => create_fast_path, :html => { :class => 'form-horizontal' } do |f| %>

  <input type="hidden" name="conf_schedule[date]" value="<%=@dateSchedule%>" />
  <input type="hidden" name="conf_schedule[seat_id]" value="<%=@seat.id%>" />

  <%= f.input :start_time, :label => 'Hora Inicio', :wrapper => :prepend, :as => :string do %>
    <span class="add-on"><i class="icon-time"></i></span><%= f.input_field :start_time, style: 'max-width: 185px; cursor:pointer;', :as => :string %>
  <% end %>

  <%= f.input :end_time, :label => 'Hora Fin', :wrapper => :prepend, :as => :string do %>
    <span class="add-on"><i class="icon-time"></i></span><%= f.input_field :end_time, style: 'max-width: 185px; cursor:pointer;', :as => :string %>
  <% end %>

  <%= f.input :duration, label: "Duración session", :placeholder => 'Minutos...', :as => :numeric %>
  <%= f.input :break_duration, label: "Duración descanso", :placeholder => 'Minutos...', :as => :numeric %>
  
  <div class="form-actions">
	  <%= f.button :submit, :class => 'btn-primary', :value => 'Generar' %>
	</div>
<% end %>
