<% provide(:book, 'active') %>
<ul class="breadcrumb">
  <li>
    <a href="/seats">Sedes Agendas</a> <span class="divider">/</span>
  </li>
  <li class="active"><%= @seat.name%></li>
</ul>
<section class="span12">
	<legend>Agenda - <%= @seat.name%></legend>
	<div id="calendar">
	  <h2 id="month">
	    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
	    <%= h @date.strftime("%B %Y") %>
	    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
	  </h2>
	  <%= calendar_for @schedules, :year => @date.year, :month => @date.month do |s| %>
	    <%= s.head('Domingo','Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado') %>
	    <%= s.day(:day_method => :date) do |day, schedules| %>
	    <% puts schedules.inspect %>
	      <%= day.day %>
	      <% if day >= Date.today %>
	        <% if schedules.count == 0 %>
	         <!--<a style="float:right;" href="/seats/<%= @seat.id%>/schedules/<%=day%>" class="label label-important"><i style="color:#fff;" class="icon-pencil icon-white"></i> Agendar</a>-->
	        <% else %>
	         <a style="float:right;" href="/seats/<%= @seat.id%>/schedules/<%=day%>" class="label label-info"><i style="color:#fff;" class="icon-align-justify icon-white"></i> Ver</a>
	        <% end %>
	      <%end%>


	    <% end %>
	  <% end %>

	</div>
</section>