<% provide(:book, 'active') %>
<ul class="breadcrumb">
  <li>
    <a href="/seats">Sedes Agendas</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="/seats/<%= @seat.id%>/schedules"><%= @seat.name%></a> <span class="divider">/</span>
  </li>
  <li class="active"><%= @date %></li>
</ul>
<legend>Reservas</legend>
<section class="span12">
  <% if @schedules.count > 0 %>
    <div class="search_clients_schedule">
      <%= form_tag clients_booking_path, :method => 'get', :id => "clients_search" do %>
        <!-- PAGINATION -->
        <%= paginate @clients, :window => 2, :remote => true, :params => {:controller => 'clients', :action => 'index_booking'}%>
        <div style="margin-left:2px; margin-bottom:-5px;">
            <div class="input-prepend">
              <span class="add-on" style="margin-right: -5px;"><i class="icon-search"></i></span>
              <%= text_field_tag :search, params[:search], :class => 'searchInput', :placeholder => 'Buscar...' %>
            </div>
        </div>
      <% end %> 
      <div id="clients_schedule" class="nano well" style="width: 98%;">
        <div class="content">
          <%= render :partial => '/clients/clients_booking' %>
        </div>
      </div>
    </div>
    <div id="seat_schedule">
      <div class="infoColorsContainer">
        <label>Etiquetas:</label>
        <div class="infoColors expired">Plan vencido</div>
        <div class="infoColors different-time" style="margin-left:5px">Horario diferente</div>
      </div>
      <table class="table table-striped table-condensed table-bordered" id="schedule_table_hours">
        <thead>
          <tr>
            <th style="width:2%;">Empieza</th>
            <th style="width:2%;">Termina</th>
            <% for i in 1..(@seat.num_machines) %>
              <th>Máquina <%=i%></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% @schedules.each do |schedule| %>
            <% hStart = schedule.start_time.to_s.gsub!(/:/,"").to_i #Start hour in number %>
            <% hEnd = schedule.end_time.to_s.gsub!(/:/,"").to_i     #End hour in number %>
            <tr data-idseat="<%=@seat.id%>" data-idturn="<%=schedule.id%>" data-horarystart="<%=hStart%>" data-horaryend="<%=hEnd%>">
              <td><%= schedule.start_time %></td>
              <td><%= schedule.end_time %></td>
              <% for i in 1..(@seat.num_machines) %>
                <td class="client_drop" data-nummachine="<%=i%>">
                  <% waitingTurns = [] %>
                  <% taken = false %>
                  <% schedule.machines.each do |machine|%>
                    <% if machine.machine_num == i and machine.client and !taken %>
                      <% taken=true %>
                      <!-- Check the classColar that has to be used-->
                      <% if !machine.client.anyPlanActive? %>
                        <% classColor = "expired" %>
                      <%else%>
                        <% hStartPlan = machine.client.plan_horary_start %>
                        <% hEndPlan = machine.client.plan_horary_end %>
                        <% classColor = ((hStart < hStartPlan) or (hEnd > hEndPlan))? "different-time":"" %>
                      <%end%>
                      <div class="<%=classColor%> inside_turn" data-idturn="<%=schedule.id%>" data-idclient='<%=machine.client.id%>' data-nummachine='<%=i%>' > <a class='close deleteTurn' href='#'>×</a> <%="<h5>#{machine.client.fullName}</h5> / <em>#{machine.client.plan_name}</em>".html_safe%>
                      </div>
                    <%elsif machine.machine_num == i and machine.client %>
                      <% waitingTurns << machine #Add this turn to the waitingList%>
                    <%end%>
                  <%end%>
                  <!-- Waiting list -->
                  <div class="waiting_list_title" data-idrelated='<%="#{hStart}#{hEnd}#{i}"%>' style="display:<%= (waitingTurns.size == 0) ? 'none':'' %>"><i class="icon-list-alt"><h6>Lista de espera</h6></i>
                    <div class="waiting_list_container" id='<%="#{hStart}#{hEnd}#{i}"%>'>
                      <!-- Conainer clients waitins list-->
                      <header class="titleInContainer"><h6>Lista de espera</h6> / <em>Máquina <%=i%></em></header>
                      <hr>
                      <section>
                        <% waitingTurns.each do |machine|%>
                          <div data-idturn="<%=schedule.id%>" data-idclient='<%=machine.client.id%>' data-nummachine='<%=i%>' > <a class='close deleteTurn' data-plan="<%=machine.client.plan_name%>" href='#'>×</a> <%="<h5>#{machine.client.fullName}</h5>".html_safe%>
                          </div>
                        <%end%>
                      </section>
                    </div>
                  </div>
                </td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%else%>
  <div class="alert alert-error">
    <h4 class="alert-heading">¡Atención!</h4>
    No se ha configurado ningun turno para esta fecha.
  </div>
  <%end%>
</section>