<%= simple_form_for @client, :html => { :class => 'form-inline' } do |f| %>
      <div class="row">
        <div id="formLeft" class="span4"> 
            <%= f.input :first_name, :label => 'Nombre' %>
            <%= f.input :last_name, :label => 'Apellido' %>
            <%= f.input :document, :label => 'Documento' %>
            <%= f.input :email, :label => 'Email' %>
            <%= f.input :phone, :label => 'Telefono' %>
            <%= f.input :seat_id, :label => 'Sede' do %>
              <%= f.select :seat_id, Seat.all.map { |r| [r.name, r.id] }, :include_blank => false %>
            <% end %>
        </div>
        <div id="formRight" class="span4"> 
            <%= f.input :address, :label => 'Dirección' %>
            <%= f.input :mobile, :label => 'Celular' %>
            <%= f.input :company, :label => 'Empresa' %>
            <%= f.input :phone_company, :label => 'Telefono Empresa' %>
            <%= f.input :position, :label => 'Cargo' %>
            <%= f.input :gender, :collection => ["Masculino", "Femenino"], :as => :radio,  :label => 'Género'  %>
        </div>
    </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :value => 'Guardar' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn' %>
  </div>
<% end %>