<% provide(:seat, 'active') %>
<%- model_class = Seat.new.class -%>
<legend>Sedes</legend>
<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Num. Máquinas</th>
    </tr>
  </thead>
  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= link_to "Ver", seat_path(seat) %></td>
        <td><%= seat.name %></td>
        <td><%= seat.address %></td>
        <td><%= seat.phone %></td>
        <td><%= seat.num_machines %></td>
        <td>

          <%= link_to "Agenda", seat_schedules_path(seat), :class => 'btn btn-mini btn-warning' %>
          <%= link_to "Editar",
                      edit_seat_path(seat), :class => 'btn btn-mini' %>
          <!-- <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      seat_path(seat),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Nueva Sede",
            new_seat_path,
            :class => 'btn btn-primary' %>
