<% provide(:settings, 'active') %>
<%= simple_form_for @plan, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="row" style="max-width:700px;">
    <div id="formLeft" class="span7" style=" min-width: 390px">
      <%= f.input :name, :label => 'Nombre'%>


      <%= f.input :start_time, :label => 'Hora Inicio', :wrapper => :prepend, :as => :string do %>
        <span class="add-on"><i class="icon-time"></i></span><%= f.input_field :start_time, style: 'max-width: 185px; cursor:pointer;', :as => :string %>
      <% end %>

      <%= f.input :end_time, :label => 'Hora Fin', :wrapper => :prepend, :as => :string do %>
        <span class="add-on"><i class="icon-time"></i></span><%= f.input_field :end_time, style: 'max-width: 185px; cursor:pointer;', :as => :string %>
      <% end %>


      <%= f.input :plan_type, :collection => ["Diario", "Sesiones"], :as => :radio,  :label => 'Tipo'%>
      <div class="control-group">
                <div class="controls">
        <label  style="display:inline-block">Restricciones de edad:</label> <label style="display:inline-block" id="lAgeRange"></label>
        <%= f.input :max_age, :label => false, :input_html => { style: 'display: none; cursor:pointer;' } %>
        <%= f.input :min_age, :label => false, :input_html => { style: 'display: none; cursor:pointer;' } %>

          <div id="slider-range" style="margin-top:-20px; max-width:200px;"></div> 
        </div>
      </div>
    </div>
    <div id="formRight" class="span5">
      <%= f.input :description, :label => 'Descripción' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary', :value => 'Guardar' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                plans_path, :class => 'btn' %>
  </div>
<% end %>
