<%- model_class = @plan.class -%>
<legend>Plan</legend>

<dl class="dl-horizontal">
  <dt><strong>Nombre:</strong></dt>
  <dd><%= @plan.name %></dd>
  <dt><strong>Tipo:</strong></dt>
  <dd><%= @plan.plan_type %></dd>
  <dt><strong>Descripción:</strong></dt>
  <dd><%= (@plan.description != "") ? @plan.description : "-" %></dd>
  <dt><strong>Hora Inicio:</strong></dt>
  <dd><%= @plan.start_time %></dd>
  <dt><strong>Hora Fin:</strong></dt>
  <dd><%= @plan.end_time %></dd>
  <dt><strong>Edad Máxima:</strong></dt>
  <dd><%= @plan.max_age %></dd>
  <dt><strong>Edad Mínima:</strong></dt>
  <dd><%= @plan.min_age %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Atrás",
              plans_path, :class => 'btn'  %>
  <%= link_to "Editar",
              edit_plan_path(@plan), :class => 'btn' %>
  <!--<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              plan_path(@plan),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>-->
</div>
