<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <title>VibraSystem - Configuración</title>
	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<!-- Top navigation bar -->
<%= render 'layouts/header' %>

<div class="container-fluid">
  <!-- Loading Div -->
  <div id="cargando" class="loadingdiv">
    <label id="textLoading"></label>
  </div>

  <div class="row-fluid">
    <!-- Side Navigation -->
    <div class="span3">
        <div class="member-box round-all"> 
          <a><img class="icon-user member-box-avatar"/></a>
          <span>
              <strong>Administrador</strong><br>
              <label><%= current_user.first_name.gsub(/^([a-z])/) { $1.capitalize }%></label>
              <span class="member-box-links"><%= link_to "Profile", employee_path(current_user) %> | <%= link_to "Salir", signout_path, method: "delete" %></span>
          </span>
        </div>
        <div class="sidebar-nav">
          <div class="well" style="padding: 8px 0;">
          <ul class="nav nav-list"> 
            <li class="nav-header">Planes</li>        
            <li class="<%=(yield(:new_plan))%>"><a href="/plans/new"><i class="icon-edit"></i> Crear</a></li>
            <li class="<%=(yield(:list_plans))%>"><a href="/plans"><i class="icon-th-large"></i> Lista</a></li>
            <li class="nav-header">Productos</li>
            <li class="<%=(yield(:new_product))%>"><a href="/products/new"><i class="icon-edit"></i> Crear</a></li>
            <li class="<%=(yield(:list_products))%>"><a href="/products"><i class="icon-th-large"></i> Lista</a></li>
            <li class="nav-header">Descuentos</li>        
            <li class="<%=(yield(:new_discount))%>"><a href="/discounts/new"><i class="icon-edit"></i> Crear</a></li>
            <li class="<%=(yield(:list_discounts))%>"><a href="/discounts"><i class="icon-th-large"></i> Lista</a></li>
            <li class="nav-header">Agenda</li>
            <li class="<%=(yield(:conf_agenda))%>"><a class="cookie-delete" href="/settings/seats"><i class="icon-calendar"></i>Configurar Agenda</a></li>
          </ul>
          </div>
        </div>
    </div>
    <!--/span-->
    <div class="span9">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      <% end %>
      <!-- Content -->
      <div class="row-fluid">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>
</div>
  <%= javascript_include_tag "application", controller_name %>
</body>
</html>
